$black-color: #1e1e1e;
$primary-color: #09bb91;
$gray01-color: #8c96a0;
$gray02-color: #caccd6;
$gray03-color: #f5f6f9;
$gray04-color: #e5e6ed;
$gray05-color: #e9eaf1;
$red-color: #f01313;
$blue-color: #0094ff;

$canvas-header-height: 60px;
